<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Number:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @item.tax %>
</p>

<p>
  <strong>Sum(excluding tax):</strong>
  <%= @sum_extax %>
</p>

<p>
  <strong>Sum(including tax):</strong>
  <%= @sum_intax %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
